.inputBlock {
  background-color: #afadad;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: auto;
}

.row {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
  width: min-content;
  margin-bottom: 1rem;
}

.textArea {
  display: table-cell;
  width: 78%;
  float: left;
  overflow: hidden;
  padding-bottom: 10px;
}

.buttonArea1 {
  display: table-cell;
  width: 40px;
  overflow: hidden;
  padding-top: 6px;
}

.buttonArea2 {
  display: table-cell;
  width: 60px;
  overflow: hidden;
}