.questionCardLeft {
    width: auto;
}

.questionCardRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.live {
    color: green;
    padding: 30px 10px 0px 0px;
}

.notLive {
    color: red;
    padding: 30px 10px 0px 0px;
}

.cardCustom {
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
